body {
    background-color: #232323;
    color: #fff;
}

a.artist {
    background-color: #fff;
    color: #000;
    display: inline-block;
    padding: .5em 1.5em;
}

a.artist:hover {
    background-color: #000;
    color: #fff;
    /* padding: .5em 1.5em; */
}

header {
    min-height: 200px;
}

.jumbotron {
    background-color: transparent;
}

input.form-control {
    background-color: yellow;
    border: none;
}

span[class*='octicon'] {
    font-size: 1.5em;
}

button span[class*='octicon'] {
    margin-left: .25em;
}